*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    background-color: #f5f5f5;
    min-height: 100vh;
}
.space {
    height: 145px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Styles pour le header et la navigation */
header nav{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background-color: #ffffff;
    padding: 20px;
    border-top: 1px solid #c9bfbf;
    display: flex;
}
.logo-image {
    width: 80px;
    height: auto;
}
.navbar {
    display: flex;
    position: relative;
}
.navbar li {
    list-style: none;
}
.navbar li a {
    color: black;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}
header .navbar li a:hover {
    color: #cb7885;
    border-bottom: #893941 1px solid;
}
/* Styles pour h2 */
h2 {
    margin: 60px;
    font-size: 20px;
    color: #893941;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Styles pour la page d'accueil */
.accueil {
    margin: 20px 20px 20px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.descriptif {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.descriptif h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.titre-descriptif {
    margin-bottom: 20px;
    font-size: 20px;
}
.descriptif :nth-child(2) {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
}
.photo {
    width: 300px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}
.avis-section {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.avis {
    margin: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.avis-contenu { 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.avis-pers {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}
.equipe-section { 
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre-equipe {
    margin: 50px 20px;
    font-size: 20px;
}
.equipe {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
}
footer {
    background-color: #ffffff;
    padding: 20px;
    border-top: 1px solid #dadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mentions {
    text-align: end;
}
.mentions a {
    color: black;
    text-decoration: none;
}
.mentions a:hover {
    color: #cb7885;
    border-bottom: #893941 1px solid;
}

/* Styles pour la page des menus */
.nos-menus {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.menus {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    width: 80%;
    margin: 50px 150px;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px #5e66231a;
    gap: 5px;
}
.menu a {
    color: black;
    text-decoration: none;
}
/*Styles pour la page de contact*/
.nous-contacter {
    margin: 20px 20px 20px 20px;
    text-align: center;
}
.contact-form {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form form {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.contact-form textarea , .contact-form input {
    width: 100%;
}
.contact-form button {
    background-color: #cb7885;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    display: flex;    
    justify-content: center;
    margin: 0 auto;
}
.contact-form button:hover {
    background-color: #893941;
}
/* Styles pour la page de connexion */
.connecter {
    margin: 20px 20px 20px 20px;
    text-align: center;
    font-size: 20px;
}
.connecter-form {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.connecter-form form {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.connecter-form input {
    width: 100%;
}
.contact a {
    color: #cb7885;
    text-decoration: none;
}
.contact a:hover {
    color: #893941;
    border-bottom: #893941 1px solid;
}
.connecter-form button {
    background-color: #cb7885;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    display: flex;    
    justify-content: center;
    margin: 0 auto;
}
.connecter-form button:hover {
    background-color: #893941;
}
.inscription a {
    color: #cb7885;
    text-decoration: none;
}
.inscription a:hover {
    color: #893941;
    border-bottom: #893941 1px solid;
}
/* Styles pour les pages de menu */
.tradition-familiale, .vegetarien-fraicheur, .vegan-epioce, .vegan-sans-gluten, .sans-lactose, .sans-gluten, .pescetarien {
    margin: 20px 20px 20px 20px;
    text-align: center;
    font-size: 20px;
}
.theme-menu {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 10px;
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
/*
.theme-menu img {
    width: 300px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}*/
.details-menu {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 10px;
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
.dtl-menu {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 20px;
    grid-template-areas: "item-1 item-1 item-1 item-2"
                        "item-3 item-3 item-3 item-4"
                        "item-5 item-6 item-7 item-8"
                        "item-9 item-9 item-9 item-9";
}
.dtl {
    display: block;
    border: 1px solid #dadada;
    padding: 10px;
    border-radius: 5px;
    background-color: #d8e0c8;
}
nav .retour .commander {
    background-color: #cb7885;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
nav .retour:hover {
    background-color: #893941;
}
/* Styles pour la page de réinitialisation de mot de passe */ 

.reinitialiser-form { 
    margin: 30px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    background-color: #ffffff; 
    padding: 20px; 
    border: 1px solid #dadada; 
    border-radius: 10px; 
    width: 50%; 
    gap: 20px; 
    text-align: center;
} 
.reinitialiser-form p, .reinitialiser-form label {
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.contact{
    width: 100%;
}
/*mettre une alerte pour dire qu'un mail vous a été envoyé */
.reinitialiser-form input { 
    width: 100%; 
} 
.reinitialiser-form button { 
    background-color: #cb7885; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 60%; 
    display: flex; 
    justify-content: center; 
    margin: 0 auto; 
} 
.reinitialiser-form button:hover { 
    background-color: #893941; 
}
/*style inscription page*/
.inscription {
    margin: 20px 20px 20px 20px;
    text-align: center;
    font-size: 20px;
}
.inscription-form { 
    margin: 100px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
.inscription-form form { 
    background-color: #ffffff; 
    padding: 20px; 
    border: 1px solid #dadada; 
    border-radius: 10px; 
    width: 50%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 10px; 
} 
.inscription-form input { 
    width: 100%; 
} 
.inscription-form button { 
    background-color: #cb7885; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 60%; 
    display: flex; 
    justify-content: center; 
    margin: 20px auto;
} 
.inscription-form button:hover { 
    background-color: #893941; 
}
/* Styles pour la page de commande */
.commander {
    margin: 20px 20px 20px 20px;
    text-align: center;
    font-size: 20px;
}
/* style pour commande et détails du menu */
.votre-choix {
    margin: 250px 20px 20px 20px;
    text-align: center;
    font-size: 20px;
}
/* styles pour la page de validation de commande */
.validation {
    margin: 250px 20px 20px 20px;
    text-align: center;
    font-size: 20px;
}